* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --codupGreen: #819e55;
    --main-bg: #0606c5;
    --cody-yellow: #fef852;
    --codyBeakRed: #dc3322;
}
body {
    display: flex;
    background-color: var(--main-bg);
    height: 100vh;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--codupGreen);
    width: 640px;
    height: 640px;
    margin: auto;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;

}
.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border: 2px solid var(--cody-yellow);
    background: var(--codupGreen);
}